<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= RestData.name %></title>
</head>
<body>
  <%- include('./partials/nav') %>
  <h1>Home Page</h1>
  <p><%= RestData.name %></p>
  <p><%= RestData.address %></p>
  <p><%= RestData.phone %></p>
</body>
</html>